.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.th, td {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(190, 78, 78);
  border: 20px solid #ddd;
  
}

.tb{
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 15px;
}
.tr:nth-child(even){background-color: #f2f2f2;
  text-align:center}
.th {
  background-color: #b7cee9;
  color: black;
  text-align:center;
  border: 1px solid #ddd;
  padding: 15px;
}
.table {
  border-collapse: collapse;
  border: 1px solid #ddd;
  width: 100%;
  text-align:center
}
.text-center{
  text-align: left;
}

.App-link {
  color: #61dafb;
}
.s{
  background-color: #282c34;
  min-height: 60vh;
  text-align: center;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
